In [1]:
import random
import sqlalchemy
import pandas as pd
import joblib
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
from keys import sqlkey
from sqlalchemy import and_
from flask_cors import cross_origin
from sklearn.linear_model import LogisticRegression 
from flask_wtf import FlaskForm
from wtforms import StringField, TextField, SubmitField, FloatField, SelectField
from wtforms.validators import DataRequired, Length

In [2]:
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

filtered_sql = "select * from best_ranked_data where 1=1"

In [3]:
horse_df = pd.read_sql(filtered_sql, connection)

   
winodds = 1.0   
placeodds = 3.5    
raceclass = 11.0
distance = 1400    
lengths = 55

In [53]:
race_df = pd.DataFrame ({
        "race_id": [2],
        "horse_id": [9999],
        "won": [0], 
        "distance": [distance],
        "race_class": [raceclass],
        "sec_time1": [23],
        "sec_time2": [24],
        "sec_time3": [23],
        "sec_time4": [24],
        "ldr_time1": [25],
        "ldr_time2": [28],
        "ldr_time3": [72],
        "ldr_time4": [95],
        "lengths_behind": [lengths],
        "behind_sec1": [3],
        "behind_sec2": [4],
        "behind_sec3": [7],
        "behind_sec4": [9],
        "time1": [25],
        "time2": [25],
        "time3": [25],
        "time4": [25],
        "finish_time": [0.00],
        "win_odds": [winodds],
        "place_odds": [placeodds]
    })
race_df.head()

,race_id,horse_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,finish_time,win_odds,place_odds
0,2,9999,0,1400,11.0,23,24,23,24,25,...,4,7,9,25,25,25,25,0.0,1.0,3.5

In [54]:
horseNums = random.sample(range(4404), 13)
print(f"horsenumbers {horseNums}")

horsenumbers [1341, 3100, 2006, 1308, 4329, 2124, 2248, 3659, 4403, 2555, 2886, 833, 3491]

In [63]:
race_df

,race_id,horse_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,finish_time,win_odds,place_odds
0,2,9999,0,1400,11.0,23.00,24.00,23.00,24.00,25.00,...,4.00,7.00,9.00,25.00,25.00,25.00,25.00,0.00,1.0,3.5
0,2725,1341,0,1200,2.0,23.91,23.39,22.08,NaN,23.91,...,5.50,10.75,NaN,25.19,22.99,22.92,NaN,71.10,99.0,23.0
0,3588,3100,0,1600,3.0,25.25,23.78,23.70,22.88,25.25,...,8.25,5.25,2.25,26.29,24.06,23.22,22.38,95.95,99.0,27.0
0,31,2006,0,1650,5.0,27.88,24.12,25.08,24.61,27.88,...,7.75,7.25,8.00,28.80,24.44,25.00,24.72,102.96,43.0,9.9
0,2009,1308,0,1000,3.0,13.17,20.42,22.18,NaN,13.17,...,6.25,14.50,NaN,13.57,21.02,23.50,NaN,58.09,99.0,16.0
0,5880,4329,0,1000,4.0,13.01,20.55,21.98,NaN,13.01,...,1.50,4.25,NaN,13.25,20.55,22.41,NaN,56.21,7.7,2.9
0,1011,2124,0,1000,4.0,13.06,21.72,22.74,NaN,13.06,...,2.75,10.25,NaN,13.26,21.96,23.95,NaN,59.17,28.0,7.9
0,4612,2248,1,1600,3.0,24.27,22.67,24.78,23.35,24.27,...,4.50,2.50,1.75,24.63,23.03,24.46,22.95,95.07,7.8,2.6
0,2632,3659,0,1000,3.0,13.33,20.81,22.92,NaN,13.33,...,3.25,6.25,NaN,13.85,20.81,23.38,NaN,58.04,64.0,8.9
0,1011,4403,0,1000,4.0,13.06,21.72,22.74,NaN,13.06,...,5.25,9.50,NaN,13.50,22.12,23.41,NaN,59.03,6.3,2.4
0,5281,2555,0,1400,2.0,13.80,22.00,22.74,22.48,13.80,...,2.00,2.25,9.75,14.00,22.12,22.78,23.66,82.56,70.0,10.0
0,1783,2886,0,1400,2.0,13.83,21.88,23.78,23.26,13.83,...,3.75,2.25,4.00,14.15,22.16,23.54,23.53,83.38,16.0,4.5
0,4827,833,0,1200,3.0,24.02,23.39,22.44,NaN,24.02,...,3.75,0.75,NaN,25.06,22.95,21.95,NaN,69.96,47.0,9.1
0,6237,3491,0,1200,2.0,23.63,22.67,23.82,NaN,23.63,...,7.25,14.00,NaN,24.59,22.87,24.90,NaN,72.36,99.0,NaN