In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import matplotlib.pyplot as plt

In [29]:
horsedata_df = pd.read_csv("horsedata.csv")
horsedata_df = horsedata_df.drop(columns='race_id')
horsedata_df

,draw,horse_age,horse_country,horse_type,horse_rating,declared_weight,actual_weight,win_odds,horse_id,venue,config,surface,distance,going,race_class,won
0,7,3,1,3,60,1020.0,133,9.7,3917,1,0,0,1400,2,5,0
1,12,3,11,3,60,980.0,133,16.0,2157,1,0,0,1400,2,5,0
2,8,3,11,3,60,1082.0,132,3.5,858,1,0,0,1400,2,5,0
3,13,3,12,3,60,1118.0,127,39.0,1853,1,0,0,1400,2,5,0
4,14,3,5,3,60,972.0,131,50.0,2796,1,0,0,1400,2,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79439,6,5,1,3,87,1191.0,122,99.0,1238,1,0,0,1600,1,2,0
79440,4,5,11,3,84,1070.0,119,99.0,985,1,0,0,1600,1,2,0
79441,1,5,11,3,83,1148.0,120,99.0,3147,1,0,0,1600,1,2,0
79442,12,3,1,3,82,1266.0,119,4.6,1982,1,0,0,1600,1,2,0
79443,2,3,8,3,81,1092.0,118,99.0,3491,1,0,0,1600,1,2,0

In [30]:
X = horsedata_df[horsedata_df.columns[:-1]]
y = horsedata_df[horsedata_df.columns[-1:]]
print(X.shape, y.shape)

(79444, 15) (79444, 1)

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [32]:
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
from sklearn.svm import SVC 
model2 = SVC(kernel='linear')
model2.fit(X_train_scaled, y_train.values.ravel())

SVC(kernel='linear')

In [34]:
print(f"Training Data Score: {model2.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model2.score(X_test_scaled, y_test)}")

Training Data Score: 0.9199436080761291
Testing Data Score: 0.9199436080761291

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train_scaled, y_train.values.ravel())

In [37]:
rf.score(X_train_scaled, y_train.values.ravel())

1.0

In [38]:
importances = rf.feature_importances_
importances

array([0.07511347, 0.02488806, 0.04158808, 0.01068978, 0.05923837,
       0.14005498, 0.0917206 , 0.21430362, 0.13973402, 0.01384531,
       0.04896091, 0.00765939, 0.05280617, 0.03436079, 0.04503645])

In [39]:
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.21430362031936753, 'win_odds'),
 (0.1400549796504483, 'declared_weight'),
 (0.13973401922020715, 'horse_id'),
 (0.09172060401287846, 'actual_weight'),
 (0.0751134663480649, 'draw'),
 (0.05923836971967682, 'horse_rating'),
 (0.052806166020559396, 'distance'),
 (0.048960906939370566, 'config'),
 (0.04503645079970037, 'race_class'),
 (0.04158808497248555, 'horse_country'),
 (0.034360792723162316, 'going'),
 (0.02488805717080917, 'horse_age'),
 (0.01384530711304252, 'venue'),
 (0.010689784098839035, 'horse_type'),
 (0.007659390891387854, 'surface')]