In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import matplotlib.pyplot as plt

In [2]:
horsedata_df = pd.read_csv("horsedata.csv")
horsedata_df

,race_id,draw,horse_age,horse_country,horse_type,horse_rating,declared_weight,actual_weight,win_odds,horse_id,won,venue,config,surface,distance,going,race_class
0,0,7,3,1,3,60,1020.0,133,9.7,3917,0.0,1,0.0,0,1400,2.0,5
1,0,12,3,11,3,60,980.0,133,16.0,2157,0.0,1,0.0,0,1400,2.0,5
2,0,8,3,11,3,60,1082.0,132,3.5,858,0.0,1,0.0,0,1400,2.0,5
3,0,13,3,12,3,60,1118.0,127,39.0,1853,0.0,1,0.0,0,1400,2.0,5
4,0,14,3,5,3,60,972.0,131,50.0,2796,0.0,1,0.0,0,1400,2.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79439,6348,6,5,1,3,87,1191.0,122,99.0,1238,0.0,1,0.0,0,1600,1.0,2
79440,6348,4,5,11,3,84,1070.0,119,99.0,985,0.0,1,0.0,0,1600,1.0,2
79441,6348,1,5,11,3,83,1148.0,120,99.0,3147,0.0,1,0.0,0,1600,1.0,2
79442,6348,12,3,1,3,82,1266.0,119,4.6,1982,0.0,1,0.0,0,1600,1.0,2
79443,6348,2,3,8,3,81,1092.0,118,99.0,3491,0.0,1,0.0,0,1600,1.0,2

In [3]:
X = horsedata_df[horsedata_df.columns[:-1]]
y = horsedata_df[horsedata_df.columns[-1:]]
print(X.shape, y.shape)

(79444, 16) (79444, 1)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [5]:
from sklearn.preprocessing import MinMaxScaler
X_scaler = MinMaxScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
from sklearn.svm import SVC 
model2 = SVC(kernel='linear')
model2.fit(X_train_scaled, y_train.values.ravel())

SVC(kernel='linear')

In [7]:
print(f"Training Data Score: {model2.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model2.score(X_test_scaled, y_test)}")

Training Data Score: 0.5655807864659382
Testing Data Score: 0.5645234378933588

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train_scaled, y_train.values.ravel())

In [11]:
rf.score(X_train_scaled, y_train.values.ravel())

1.0

In [12]:
importances = rf.feature_importances_
importances

array([0.12269571, 0.06172339, 0.01735523, 0.0323708 , 0.01036492,
       0.2460038 , 0.10193218, 0.0767473 , 0.08547824, 0.11655903,
       0.00747578, 0.00974142, 0.03902398, 0.00655323, 0.04002105,
       0.02595392])

In [13]:
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.24600380146432058, 'horse_rating'),
 (0.12269571467770912, 'race_id'),
 (0.11655903206330363, 'horse_id'),
 (0.10193218200308896, 'declared_weight'),
 (0.08547823963669714, 'win_odds'),
 (0.07674729825910857, 'actual_weight'),
 (0.061723390988931315, 'draw'),
 (0.04002105443882766, 'distance'),
 (0.03902397960972836, 'config'),
 (0.032370803219638124, 'horse_country'),
 (0.02595391549331207, 'going'),
 (0.017355232810482853, 'horse_age'),
 (0.010364920626649527, 'horse_type'),
 (0.009741420590813255, 'venue'),
 (0.007475782646514718, 'won'),
 (0.00655323147087412, 'surface')]