In [34]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn.preprocessing as preprocessing
import sklearn.model_selection as model_selection
import matplotlib.pyplot as plt
from sklearn import tree

In [16]:
horsedata_df = pd.read_csv("horsedata.csv")
horsedata_df

,race_id,draw,horse_age,horse_country,horse_type,horse_rating,declared_weight,actual_weight,win_odds,horse_id,venue,config,surface,distance,going,race_class,won
0,0,7,3,1,3,60,1020.0,133,9.7,3917,1,0,0,1400,2,5,0
1,0,12,3,11,3,60,980.0,133,16.0,2157,1,0,0,1400,2,5,0
2,0,8,3,11,3,60,1082.0,132,3.5,858,1,0,0,1400,2,5,0
3,0,13,3,12,3,60,1118.0,127,39.0,1853,1,0,0,1400,2,5,0
4,0,14,3,5,3,60,972.0,131,50.0,2796,1,0,0,1400,2,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79439,6348,6,5,1,3,87,1191.0,122,99.0,1238,1,0,0,1600,1,2,0
79440,6348,4,5,11,3,84,1070.0,119,99.0,985,1,0,0,1600,1,2,0
79441,6348,1,5,11,3,83,1148.0,120,99.0,3147,1,0,0,1600,1,2,0
79442,6348,12,3,1,3,82,1266.0,119,4.6,1982,1,0,0,1600,1,2,0
79443,6348,2,3,8,3,81,1092.0,118,99.0,3491,1,0,0,1600,1,2,0

In [41]:
X = horsedata_df.drop('won', axis=1)
y = horsedata_df['won']
print(X.shape, y.shape)

(79444, 16) (79444,)

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [43]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.857912491818136

In [44]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9212527063088465

In [45]:
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.19214044430443702, 'win_odds'),
 (0.12882419903782133, 'race_id'),
 (0.12189695088612464, 'horse_id'),
 (0.12149502633862735, 'declared_weight'),
 (0.07840572109015223, 'actual_weight'),
 (0.06566556543503406, 'draw'),
 (0.04873218889378728, 'horse_rating'),
 (0.04640703724766779, 'distance'),
 (0.04258728025819668, 'config'),
 (0.03849149003547643, 'race_class'),
 (0.03564162558393774, 'horse_country'),
 (0.02911057359125203, 'going'),
 (0.020206744032872516, 'horse_age'),
 (0.013322385326503938, 'venue'),
 (0.009611751380247575, 'horse_type'),
 (0.007461016557861304, 'surface')]

In [46]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model

LogisticRegression()

In [47]:
model.fit(X_train, y_train)

LogisticRegression()

In [49]:
print(f"Data Training Score:{model.score(X_train, y_train)}")
print(f"Data Testing Score:{model.score(X_test, y_test)}")

Data Training Score:0.9192387090277429
Data Testing Score:0.922058305221288

In [51]:
predictions = model.predict(X_test)
print(f"First 25 predictions: {predictions[:25]}")
print(f"First 25 Actual Labels: {y_test[:25].tolist()}")

First 25 predictions: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
First 25 Actual Labels: [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [54]:
prediction_df = pd.DataFrame({
    "Prediction":predictions,
    "Actual":y_test
}).reset_index(drop=True)

In [57]:
prediction_df["Prediction"].sum()
#our model predicts that all the horses will lose

0