In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
from sqlalchemy import create_engine
from keys import sqlkey

In [2]:
data = pd.read_csv ('races.csv') 
races_df = pd.DataFrame(data)
races_df

,race_id,date,venue,race_no,config,surface,distance,going,horse_ratings,prize,...,place_combination3,place_combination4,place_dividend1,place_dividend2,place_dividend3,place_dividend4,win_combination1,win_dividend1,win_combination2,win_dividend2
0,0,1997-06-02,ST,1,A,0,1400,GOOD TO FIRM,40-15,485000.0,...,6.0,NaN,36.5,25.5,18.0,NaN,8,121.0,NaN,NaN
1,1,1997-06-02,ST,2,A,0,1200,GOOD TO FIRM,40-15,485000.0,...,4.0,NaN,12.5,47.0,33.5,NaN,5,23.5,NaN,NaN
2,2,1997-06-02,ST,3,A,0,1400,GOOD TO FIRM,60-40,625000.0,...,13.0,NaN,23.0,23.0,59.5,NaN,11,70.0,NaN,NaN
3,3,1997-06-02,ST,4,A,0,1200,GOOD TO FIRM,120-95,1750000.0,...,10.0,NaN,14.0,24.5,16.0,NaN,5,52.0,NaN,NaN
4,4,1997-06-02,ST,5,A,0,1600,GOOD TO FIRM,60-40,625000.0,...,1.0,NaN,15.5,28.0,17.5,NaN,2,36.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6344,6344,2005-08-28,ST,6,A,0,1400,GOOD,115-95,2500000.0,...,5.0,NaN,13.5,14.5,62.5,NaN,6,38.0,NaN,NaN
6345,6345,2005-08-28,ST,7,A,0,1600,GOOD,G,23000000.0,...,14.0,NaN,18.0,20.5,45.0,NaN,5,60.0,NaN,NaN
6346,6346,2005-08-28,ST,8,A,0,2000,GOOD,G,25000000.0,...,5.0,NaN,11.0,27.5,38.5,NaN,2,17.5,NaN,NaN
6347,6347,2005-08-28,ST,9,A,0,1200,GOOD,100-80,1750000.0,...,4.0,NaN,11.0,37.0,21.5,NaN,9,16.0,NaN,NaN
6348,6348,2005-08-28,ST,10,A,0,1600,GOOD,100-80,1750000.0,...,8.0,NaN,38.0,63.0,18.5,NaN,2,134.0,NaN,NaN

In [3]:
data_runs = pd.read_csv ('runs.csv') 
runs_df = pd.DataFrame(data_runs)
runs_df

,race_id,horse_no,horse_id,result,won,lengths_behind,horse_age,horse_country,horse_type,horse_rating,...,time2,time3,time4,time5,time6,finish_time,win_odds,place_odds,trainer_id,jockey_id
0,0,1,3917,10,0.0,8.00,3,AUS,Gelding,60,...,21.59,23.86,24.62,NaN,NaN,83.92,9.7,3.7,118,2
1,0,2,2157,8,0.0,5.75,3,NZ,Gelding,60,...,21.99,23.30,23.70,NaN,NaN,83.56,16.0,4.9,164,57
2,0,3,858,7,0.0,4.75,3,NZ,Gelding,60,...,21.59,23.90,24.22,NaN,NaN,83.40,3.5,1.5,137,18
3,0,4,1853,9,0.0,6.25,3,SAF,Gelding,60,...,21.83,23.70,24.00,NaN,NaN,83.62,39.0,11.0,80,59
4,0,5,2796,6,0.0,3.75,3,GB,Gelding,60,...,21.75,23.22,23.50,NaN,NaN,83.24,50.0,14.0,9,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79442,6348,10,1238,6,0.0,1.25,5,AUS,Gelding,87,...,23.98,23.53,22.52,NaN,NaN,96.17,99.0,NaN,73,40
79443,6348,11,985,7,0.0,2.25,5,NZ,Gelding,84,...,24.10,23.77,22.61,NaN,NaN,96.30,99.0,NaN,164,63
79444,6348,12,3147,10,0.0,3.00,5,NZ,Gelding,83,...,24.06,23.37,22.43,NaN,NaN,96.44,99.0,NaN,111,68
79445,6348,13,1982,8,0.0,2.50,3,AUS,Gelding,82,...,24.02,23.45,22.29,NaN,NaN,96.34,4.6,NaN,118,95
79446,6348,14,3491,11,0.0,4.25,3,IRE,Gelding,81,...,24.06,23.77,23.10,NaN,NaN,96.63,99.0,NaN,27,4

In [4]:
#CREATE DATABASE CONNECTION
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [5]:
#PUSH DATAFRAME TO POSTGRESQL ONLY PUSH ONCE
races_df.to_sql(name='races', con=connection, if_exists='append', index=False)

In [6]:
#PUSH DATAFRAME TO POSTGRESQL ONLY PUSH ONCE
runs_df.to_sql(name='runs', con=connection, if_exists='append', index=False)

In [7]:
training_data_df = pd.read_sql(sql='select * from training_data',con=connection)

In [8]:
connection.close()

In [9]:
training_data_df

,race_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,ldr_time2,...,draw,time1,time2,time3,time4,finish_time,win_odds,place_odds,trainer_id,jockey_id
0,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,7,13.85,21.59,23.86,24.62,83.92,9.7,3.7,118,2
1,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,12,14.57,21.99,23.30,23.70,83.56,16.0,4.9,164,57
2,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,8,13.69,21.59,23.90,24.22,83.40,3.5,1.5,137,18
3,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,13,14.09,21.83,23.70,24.00,83.62,39.0,11.0,80,59
4,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,14,14.77,21.75,23.22,23.50,83.24,50.0,14.0,9,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79442,6348,0,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,6,26.14,23.98,23.53,22.52,96.17,99.0,NaN,73,40
79443,6348,0,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,4,25.82,24.10,23.77,22.61,96.30,99.0,NaN,164,63
79444,6348,0,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,1,26.58,24.06,23.37,22.43,96.44,99.0,NaN,111,68
79445,6348,0,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,12,26.58,24.02,23.45,22.29,96.34,4.6,NaN,118,95
79446,6348,0,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,2,25.70,24.06,23.77,23.10,96.63,99.0,NaN,27,4

In [ ]:
data_df

In [ ]:
data_df = data_df.dropna()

In [12]:
training_data_df = training_data_df.dropna()

In [13]:
training_data_df

,race_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,ldr_time2,...,draw,time1,time2,time3,time4,finish_time,win_odds,place_odds,trainer_id,jockey_id
0,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,7,13.85,21.59,23.86,24.62,83.92,9.7,3.7,118,2
1,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,12,14.57,21.99,23.30,23.70,83.56,16.0,4.9,164,57
2,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,8,13.69,21.59,23.90,24.22,83.40,3.5,1.5,137,18
3,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,13,14.09,21.83,23.70,24.00,83.62,39.0,11.0,80,59
4,0,0,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,14,14.77,21.75,23.22,23.50,83.24,50.0,14.0,9,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76706,6128,0,1400,3,13.34,21.79,24.09,22.32,13.34,35.13,...,4,13.46,22.03,23.97,23.41,82.87,33.0,5.7,118,40
76707,6128,0,1400,3,13.34,21.79,24.09,22.32,13.34,35.13,...,6,13.70,22.07,23.85,22.80,82.42,99.0,14.0,73,161
76708,6128,0,1400,3,13.34,21.79,24.09,22.32,13.34,35.13,...,14,13.34,21.91,24.05,22.95,82.25,8.2,2.0,138,10
76709,6128,0,1400,3,13.34,21.79,24.09,22.32,13.34,35.13,...,7,13.50,21.99,23.89,23.28,82.66,59.0,9.9,7,23
76710,6128,0,1400,3,13.34,21.79,24.09,22.32,13.34,35.13,...,9,13.50,22.07,24.21,22.96,82.74,99.0,26.0,47,162

In [ ]:
from sklearn.model_selection import train_test_split

X = data_df.drop(columns=["won"])

y = data_df["won"]


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)

In [14]:
from sklearn.model_selection import train_test_split

X2 = training_data_df.drop(columns=["won"])

y2 = training_data_df["won"]


X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, random_state=1, stratify = y2)

In [ ]:
X_train.head(50)

X_train.to_csv("X_train.csv")
y_train.to_csv("y_train.csv")

X_test.to_csv("X_test.csv")
y_test.to_csv("y_test.csv")

In [15]:
X_train2.head(50)

X_train2.to_csv("X2_train.csv")
y_train2.to_csv("y2_train.csv")

X_test2.to_csv("X2_test.csv")
y_test2.to_csv("y2_test.csv")

In [16]:
X_train2

,race_id,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,ldr_time2,ldr_time3,...,draw,time1,time2,time3,time4,finish_time,win_odds,place_odds,trainer_id,jockey_id
41385,3306,1650,4,27.73,23.81,25.50,24.82,27.73,51.54,77.04,...,12,28.85,23.97,25.46,23.90,102.18,8.2,2.6,60,63
39779,3179,1600,12,24.94,23.33,23.36,22.51,24.94,48.27,71.63,...,7,25.82,23.25,23.20,22.41,94.68,12.0,2.7,7,18
9964,797,1650,3,27.06,23.53,24.62,24.31,27.06,50.59,75.21,...,4,27.78,23.69,24.54,24.46,100.47,8.2,1.9,55,34
24097,1920,1600,3,24.58,23.69,24.36,23.42,24.58,48.27,72.63,...,10,25.22,23.81,24.20,23.66,96.89,71.0,15.0,137,34
10367,829,1800,5,14.14,23.11,24.38,24.75,14.14,37.25,61.63,...,6,14.62,23.71,24.30,24.71,111.97,93.0,24.0,9,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49648,3964,1600,1,25.45,24.39,23.31,22.41,25.45,49.84,73.15,...,7,26.37,23.99,23.11,22.66,96.13,5.9,1.4,4,138
25808,2061,1650,4,27.70,25.08,25.12,23.91,27.70,52.78,77.90,...,10,28.50,25.04,24.72,24.16,102.42,31.0,11.0,138,138
63202,5051,1800,5,13.38,23.45,25.14,25.28,13.38,36.83,61.97,...,6,13.74,23.85,24.90,25.36,111.21,33.0,9.0,69,76
37699,3010,1400,5,13.77,22.58,23.31,23.68,13.77,36.35,59.66,...,1,14.41,22.78,23.31,23.66,84.16,37.0,8.9,47,57
3302,262,1600,3,24.27,23.64,24.67,23.44,24.27,47.91,72.58,...,9,25.27,23.52,24.19,25.11,98.09,11.0,4.0,137,26

In [ ]:
from sklearn import preprocessing 
scaler = preprocessing.MinMaxScaler()
minmax_df = scaler.fit(X_train) 
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [17]:
from sklearn import preprocessing 
scaler = preprocessing.MinMaxScaler()
minmax_df2 = scaler.fit(X_train2) 
X_train_scaled2 = scaler.transform(X_train2)
X_test_scaled2 = scaler.transform(X_test2)

In [ ]:
from sklearn.linear_model import LogisticRegression
horse_model = LogisticRegression(max_iter=1000)
horse_model

In [18]:
from sklearn.linear_model import LogisticRegression
horse_model2 = LogisticRegression(max_iter=1000)
horse_model2

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
horse_model.fit(X_train_scaled, y_train)

In [19]:
horse_model2.fit(X_train_scaled2, y_train2)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
print(f"Training Data Score: {horse_model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {horse_model.score(X_test_scaled, y_test)}")
print(f"for one single line:{horse_model.predict(X_test_scaled[9].reshape(1,-1))}")

In [48]:
print(f"Training Data Score: {horse_model2.score(X_train_scaled2, y_train2)}")
print(f"Testing Data Score: {horse_model2.score(X_test_scaled2, y_test2)}")
print(f"for one single line:{horse_model2.predict(X_train_scaled2[15].reshape(1,-1))}")

Training Data Score: 0.9215074920538823
Testing Data Score: 0.9214493280058118
for one single line:[0]