In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
from sqlalchemy import create_engine
from keys import sqlkey

In [2]:
#CREATE DATABASE CONNECTION
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [3]:
#BE SURE TO HAVE ALL TABLES CREATED FIRST FROM QUERIES.SQL
data_df = pd.read_sql(sql='select * from best_ranked_data',con=connection)

In [4]:
connection.close()

In [5]:
data_df = data_df.dropna()

In [6]:
data_df

,race_id,horse_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,finish_time,win_odds,place_odds
0,0,3917,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,2.00,1.50,8.00,13.85,21.59,23.86,24.62,83.9,9.7,3.7
1,0,2157,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,9.00,5.00,5.75,14.57,21.99,23.30,23.70,83.6,16.0,4.9
2,0,858,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,1.00,0.75,4.75,13.69,21.59,23.90,24.22,83.4,3.5,1.5
3,0,1853,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,5.00,3.50,6.25,14.09,21.83,23.70,24.00,83.6,39.0,11.0
4,0,2796,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,8.75,4.25,3.75,14.77,21.75,23.22,23.50,83.2,50.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76706,6128,1153,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.25,1.50,8.25,13.46,22.03,23.97,23.41,82.9,33.0,5.7
76707,6128,1925,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,4.00,2.50,5.50,13.70,22.07,23.85,22.80,82.4,99.0,14.0
76708,6128,2531,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,0.75,0.50,4.50,13.34,21.91,24.05,22.95,82.3,8.2,2.0
76709,6128,212,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.25,1.00,7.00,13.50,21.99,23.89,23.28,82.7,59.0,9.9
76710,6128,1229,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.75,3.50,7.50,13.50,22.07,24.21,22.96,82.7,99.0,26.0

In [7]:
#Create Train Test Split
from sklearn.model_selection import train_test_split

#Remove finish_time and won columns for X dataset
X_best = data_df.drop(columns=["won","finish_time"])

#Set Y to finish_time
y_best = data_df["finish_time"]


X_train_best, X_test_best, y_train_best, y_test_best = train_test_split(X_best, y_best, random_state=1)

In [8]:
# X_train_best.head(50)

# X_train_best.to_csv("X_train_best.csv")
# y_train_best.to_csv("y_train_best.csv")

# X_test_best.to_csv("X_test_best.csv")
# y_test_best.to_csv("y_test_best.csv")

In [9]:
#Fit and transform Dataset
from sklearn import preprocessing 
scaler = preprocessing.MinMaxScaler()
minmax_df = scaler.fit(X_train_best) 
X_train_scaled_best = scaler.transform(X_train_best)
X_test_scaled_best = scaler.transform(X_test_best)

In [10]:
from sklearn.linear_model import LinearRegression
horse_model_best = LinearRegression()
horse_model_best

LinearRegression()

In [11]:
horse_model_best.fit(X_train_scaled_best, y_train_best)

LinearRegression()

In [12]:
print(f"Training Data Score: {horse_model_best.score(X_train_scaled_best, y_train_best)}")
print(f"Testing Data Score: {horse_model_best.score(X_test_scaled_best, y_test_best)}")
print(f"for one single line:{horse_model_best.predict(X_train_scaled_best[0].reshape(1,-1))}")

Training Data Score: 0.9975167015248789
Testing Data Score: -0.2070592261317119
for one single line:[101.84399414]

In [13]:
horse_model_best.coef_

array([-2.05123678e-01, -3.20286144e-02,  6.16186969e+01, -2.69642146e-01,
        1.58579061e+12,  1.07274254e+12,  1.11017029e+12, -4.33708393e+12,
        1.12958895e+12,  8.75299599e+11, -1.85786926e+13,  1.57911380e+13,
        1.07344241e+01, -2.98252944e+00, -5.02138373e-02,  2.44722998e+00,
       -1.07895149e+01,  2.12458356e+01,  3.78459818e+00,  3.81944607e+00,
        5.12738597e+01,  1.18388116e-01,  2.45697517e-01])

In [14]:
sorted(zip(horse_model_best.coef_, np.asarray(X_best.columns)), reverse=True)

[(15791138028156.207, 'ldr_time4'),
 (1585790610470.642, 'sec_time1'),
 (1129588946331.5022, 'ldr_time1'),
 (1110170285199.6003, 'sec_time3'),
 (1072742540970.3519, 'sec_time2'),
 (875299598601.7073, 'ldr_time2'),
 (61.618696860273836, 'distance'),
 (51.273859718173185, 'time4'),
 (21.245835608597105, 'time1'),
 (10.734424100062169, 'lengths_behind'),
 (3.8194460688816325, 'time3'),
 (3.7845981767010533, 'time2'),
 (2.447229977307018, 'behind_sec3'),
 (0.24569751730169279, 'place_odds'),
 (0.11838811598066443, 'win_odds'),
 (-0.032028614359351996, 'horse_id'),
 (-0.05021383727838345, 'behind_sec2'),
 (-0.20512367796239714, 'race_id'),
 (-0.26964214627774646, 'race_class'),
 (-2.982529438168729, 'behind_sec1'),
 (-10.789514895580654, 'behind_sec4'),
 (-4337083928843.1313, 'sec_time4'),
 (-18578692616188.09, 'ldr_time3')]

In [15]:
# X_best.columns

In [16]:
# i = 0
# while i < 1000:
#     print(f"{i}for one single line:{horse_model_best.predict(X_train_scaled_best[i].reshape(1,-1))}")
#     i+=1

In [17]:
#CHANGED 12-15-2020
#Save model to load in Flask
import joblib
filename = 'horse_time_model.sav'
joblib.dump(horse_model_best, filename)

['horse_time_model.sav']