In [19]:
import pandas as pd
import numpy as np
from pprint import pprint
from sqlalchemy import create_engine
from keys import sqlkey
from imblearn.over_sampling import SMOTE
from sklearn.metrics import balanced_accuracy_score, confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.linear_model import LogisticRegression
import joblib

In [2]:
#CREATE DATABASE CONNECTION
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [3]:
data_df = pd.read_sql(sql='select * from best_ranked_data',con=connection)

In [4]:
connection.close()

In [5]:
data_df

,race_id,horse_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec1,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,win_odds,place_odds
0,0,3917,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,2.00,2.00,1.50,8.00,13.85,21.59,23.86,24.62,9.7,3.7
1,0,2157,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,6.50,9.00,5.00,5.75,14.57,21.99,23.30,23.70,16.0,4.9
2,0,858,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,1.00,1.00,0.75,4.75,13.69,21.59,23.90,24.22,3.5,1.5
3,0,1853,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,3.50,5.00,3.50,6.25,14.09,21.83,23.70,24.00,39.0,11.0
4,0,2796,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,7.75,8.75,4.25,3.75,14.77,21.75,23.22,23.50,50.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79442,6348,1238,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,4.25,3.75,2.50,1.25,26.14,23.98,23.53,22.52,99.0,NaN
79443,6348,985,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,2.25,2.50,2.75,2.25,25.82,24.10,23.77,22.61,99.0,NaN
79444,6348,3147,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,7.00,7.00,4.75,3.00,26.58,24.06,23.37,22.43,99.0,NaN
79445,6348,1982,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,7.00,6.75,5.00,2.50,26.58,24.02,23.45,22.29,4.6,NaN
79446,6348,3491,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,1.50,1.50,1.75,4.25,25.70,24.06,23.77,23.10,99.0,NaN

In [6]:
data_df = data_df.dropna()

In [7]:
data_df

,race_id,horse_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec1,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,win_odds,place_odds
0,0,3917,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,2.00,2.00,1.50,8.00,13.85,21.59,23.86,24.62,9.7,3.7
1,0,2157,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,6.50,9.00,5.00,5.75,14.57,21.99,23.30,23.70,16.0,4.9
2,0,858,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,1.00,1.00,0.75,4.75,13.69,21.59,23.90,24.22,3.5,1.5
3,0,1853,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,3.50,5.00,3.50,6.25,14.09,21.83,23.70,24.00,39.0,11.0
4,0,2796,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,7.75,8.75,4.25,3.75,14.77,21.75,23.22,23.50,50.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76706,6128,1153,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,0.75,2.25,1.50,8.25,13.46,22.03,23.97,23.41,33.0,5.7
76707,6128,1925,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.25,4.00,2.50,5.50,13.70,22.07,23.85,22.80,99.0,14.0
76708,6128,2531,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,0.15,0.75,0.50,4.50,13.34,21.91,24.05,22.95,8.2,2.0
76709,6128,212,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,1.00,2.25,1.00,7.00,13.50,21.99,23.89,23.28,59.0,9.9
76710,6128,1229,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,1.00,2.75,3.50,7.50,13.50,22.07,24.21,22.96,99.0,26.0

In [9]:
from sklearn.model_selection import train_test_split

X_smote = data_df.drop(columns=["won"])

y_smote = data_df["won"]


X_train_smote, X_test_smote, y_train_smote, y_test_smote = train_test_split(X_smote, y_smote, random_state=1, stratify = y_smote)

In [12]:

X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(X_train_smote, y_train_smote)


model = LogisticRegression(solver='liblinear', random_state=1)
model.fit(X_resampled, y_resampled)
y_pred = model.predict(X_test_smote)
balanced_accuracy_score(y_test_smote, y_pred)
confusion_matrix(y_test_smote, y_pred)
print(classification_report_imbalanced(y_test_smote, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00     10164
          1       0.97      1.00      1.00      0.99      1.00      1.00       868

avg / total       1.00      1.00      1.00      1.00      1.00      1.00     11032

In [ ]:
# X_train_best.head(50)

X_train_smote.to_csv("X_train_smote.csv")
y_train_smote.to_csv("y_train_smote.csv")

X_test_smote.to_csv("X_test_smote.csv")
y_test_smote.to_csv("y_test_smote.csv")

In [ ]:
# print(f"Training Data Score: {model.score(X_train_scaled_best, y_train_best)}")
# print(f"Testing Data Score: {model.score(X_test_scaled_best, y_test_best)}")
# print(f"for one single line:{model.predict(X_train_scaled_best[12].reshape(1,-1))}")

In [13]:
model.coef_

array([[ 2.01577190e-06, -1.57557244e-05, -1.16095492e-03,
        -5.29929794e-02, -1.11918983e-01, -2.73544335e-01,
        -3.96369832e-01,  3.32911648e+00, -1.11918983e-01,
        -3.85463318e-01, -7.81833150e-01,  2.54728333e+00,
        -3.18020981e+01,  4.91761615e-02, -6.57779193e-02,
        -8.56214367e-01,  1.28101571e+00, -1.14465964e+00,
        -1.04840841e+00, -1.34222020e+00, -5.72074711e+00,
        -1.41677111e-02,  5.44450461e-02]])

In [14]:
sorted(zip(model.coef_[0], np.asarray(X_smote.columns)), reverse=True)

[(3.329116482862577, 'sec_time4'),
 (2.5472833331076563, 'ldr_time4'),
 (1.2810157132853477, 'behind_sec4'),
 (0.0544450461042836, 'place_odds'),
 (0.049176161475221795, 'behind_sec1'),
 (2.01577189888587e-06, 'race_id'),
 (-1.575572437278839e-05, 'horse_id'),
 (-0.0011609549192224643, 'distance'),
 (-0.01416771112074073, 'win_odds'),
 (-0.05299297944788678, 'race_class'),
 (-0.06577791928414992, 'behind_sec2'),
 (-0.11191898277943527, 'sec_time1'),
 (-0.11191898277943527, 'ldr_time1'),
 (-0.27354433510773596, 'sec_time2'),
 (-0.3854633179079977, 'ldr_time2'),
 (-0.3963698319346199, 'sec_time3'),
 (-0.7818331498603075, 'ldr_time3'),
 (-0.8562143672499073, 'behind_sec3'),
 (-1.0484084061844696, 'time2'),
 (-1.1446596446681823, 'time1'),
 (-1.342220198152839, 'time3'),
 (-5.7207471062111885, 'time4'),
 (-31.802098117424134, 'lengths_behind')]

In [ ]:
# i = 0
# while i < 5000:
#     print(f"{i}for one single line:{horse_model_best.predict(X_train_scaled_best[i].reshape(1,-1))}")
#     i+=1

In [ ]:

# X_train_smote
# X_train_best.columns

In [20]:
filename = 'horse_model_smote.sav'
joblib.dump(model, filename)

['horse_model_smote.sav']

In [21]:
model = joblib.load('horse_model_smote.sav')

In [22]:
Xtest = pd.DataFrame([[4871,1619,1800,3,14.05,21.86,24.17,24.31,14.05,35.91,60.08,84.39,0,1.75,4.25,3.5,1,14.33,22.26,24.05,23.91,4.9,1.0
]])

In [23]:
print(f"for one single line:{model.predict(Xtest)}")

for one single line:[1]

In [15]:
#CREATE DATABASE CONNECTION ONLY DO THESE ONCE EVEN IF RUNNING MODEL AGAIN...
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [16]:
#Need to push data being used for tableau
#PUSH DATAFRAME TO POSTGRESQL ONLY PUSH ONCE
data_df.to_sql(name='best_data_set', con=connection, if_exists='append', index=False)

In [17]:
connection.close()