In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
from sqlalchemy import create_engine
from keys import sqlkey

In [2]:
#CREATE DATABASE CONNECTION
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [3]:
#BE SURE TO HAVE ALL TABLES CREATED FIRST FROM QUERIES.SQL
data_df = pd.read_sql(sql='select * from best_ranked_data',con=connection)

In [4]:
connection.close()

In [5]:
data_df = data_df.dropna()

In [6]:
data_df

,race_id,horse_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,finish_time,win_odds,place_odds
0,0,3917,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,2.00,1.50,8.00,13.85,21.59,23.86,24.62,83.92,9.7,3.7
1,0,2157,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,9.00,5.00,5.75,14.57,21.99,23.30,23.70,83.56,16.0,4.9
2,0,858,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,1.00,0.75,4.75,13.69,21.59,23.90,24.22,83.40,3.5,1.5
3,0,1853,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,5.00,3.50,6.25,14.09,21.83,23.70,24.00,83.62,39.0,11.0
4,0,2796,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,8.75,4.25,3.75,14.77,21.75,23.22,23.50,83.24,50.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76706,6128,1153,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.25,1.50,8.25,13.46,22.03,23.97,23.41,82.87,33.0,5.7
76707,6128,1925,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,4.00,2.50,5.50,13.70,22.07,23.85,22.80,82.42,99.0,14.0
76708,6128,2531,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,0.75,0.50,4.50,13.34,21.91,24.05,22.95,82.25,8.2,2.0
76709,6128,212,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.25,1.00,7.00,13.50,21.99,23.89,23.28,82.66,59.0,9.9
76710,6128,1229,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.75,3.50,7.50,13.50,22.07,24.21,22.96,82.74,99.0,26.0

In [7]:
#Create Train Test Split
from sklearn.model_selection import train_test_split

#Remove finish_time and won columns for X dataset
X_best = data_df.drop(columns=["won","finish_time"])

#Set Y to finish_time
y_best = data_df["finish_time"]


X_train_best, X_test_best, y_train_best, y_test_best = train_test_split(X_best, y_best, random_state=1)

In [8]:
# X_train_best.head(50)

# X_train_best.to_csv("X_train_best.csv")
# y_train_best.to_csv("y_train_best.csv")

# X_test_best.to_csv("X_test_best.csv")
# y_test_best.to_csv("y_test_best.csv")

In [9]:
#Fit and transform Dataset
from sklearn import preprocessing 
scaler = preprocessing.MinMaxScaler()
minmax_df = scaler.fit(X_train_best) 
X_train_scaled_best = scaler.transform(X_train_best)
X_test_scaled_best = scaler.transform(X_test_best)

In [10]:
from sklearn.linear_model import LinearRegression
horse_model_best = LinearRegression()
horse_model_best

LinearRegression()

In [11]:
horse_model_best.fit(X_train_scaled_best, y_train_best)

LinearRegression()

In [12]:
print(f"Training Data Score: {horse_model_best.score(X_train_scaled_best, y_train_best)}")
print(f"Testing Data Score: {horse_model_best.score(X_test_scaled_best, y_test_best)}")
print(f"for one single line:{horse_model_best.predict(X_train_scaled_best[0].reshape(1,-1))}")

Training Data Score: 0.9975224031982186
Testing Data Score: -0.20036354229795506
for one single line:[101.84631348]

In [13]:
horse_model_best.coef_

array([-2.04018573e-01, -3.31764526e-02,  6.16122015e+01, -2.67054388e-01,
       -3.36251234e+12, -2.10989991e+12, -2.78256875e+11, -9.77062469e+11,
       -1.97817180e+12,  5.82421169e+12, -1.91453372e+12,  3.55744287e+12,
        1.07563560e+01, -2.98668116e+00, -7.10753973e-02,  2.48027844e+00,
       -1.07982152e+01,  2.12585013e+01,  3.79891226e+00,  3.78588858e+00,
        5.12715066e+01,  1.15969407e-01,  2.44759649e-01])

In [14]:
sorted(zip(horse_model_best.coef_, np.asarray(X_best.columns)), reverse=True)

[(5824211694046.375, 'ldr_time2'),
 (3557442872122.6597, 'ldr_time4'),
 (61.61220150751475, 'distance'),
 (51.2715065882189, 'time4'),
 (21.258501256133616, 'time1'),
 (10.756356016246926, 'lengths_behind'),
 (3.798912258204194, 'time2'),
 (3.7858885830433264, 'time3'),
 (2.480278444128434, 'behind_sec3'),
 (0.24475964856739718, 'place_odds'),
 (0.11596940709226553, 'win_odds'),
 (-0.03317645260527752, 'horse_id'),
 (-0.07107539726179588, 'behind_sec2'),
 (-0.20401857328974668, 'race_id'),
 (-0.26705438756543004, 'race_class'),
 (-2.986681161296719, 'behind_sec1'),
 (-10.798215227038297, 'behind_sec4'),
 (-278256875083.6614, 'sec_time3'),
 (-977062468895.2788, 'sec_time4'),
 (-1914533721006.743, 'ldr_time3'),
 (-1978171796431.7031, 'ldr_time1'),
 (-2109899905569.6223, 'sec_time2'),
 (-3362512339570.4365, 'sec_time1')]

In [15]:
# X_best.columns

In [16]:
# i = 0
# while i < 1000:
#     print(f"{i}for one single line:{horse_model_best.predict(X_train_scaled_best[i].reshape(1,-1))}")
#     i+=1

In [15]:
#CHANGED 12-15-2020
#Save model to load in Flask
import joblib
filename = 'horse_time_model.sav'
joblib.dump(horse_model_best, filename)

['horse_time_model.sav']

In [16]:
model = joblib.load('horse_time_model.sav')

In [23]:
horsearray = pd.DataFrame([[2,9999,1400,11.0,23,24,23,24,25,28,72,95,55,3,4,7,9,25,25,25,25,2.5,4.5]])

In [24]:
print(f"one horse: {model.predict(horsearray)}")

one horse: [1.56328005e+14]