In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
from sqlalchemy import create_engine
from keys import sqlkey
from imblearn.over_sampling import SMOTE
from sklearn.metrics import balanced_accuracy_score, confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.linear_model import LogisticRegression
import joblib

In [2]:
#CREATE DATABASE CONNECTION
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [3]:
data_df = pd.read_sql(sql='select * from best_ranked_data',con=connection)

In [4]:
connection.close()

In [5]:
data_df

,race_id,horse_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,finish_time,win_odds,place_odds
0,0,3917,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,2.00,1.50,8.00,13.85,21.59,23.86,24.62,83.9,9.7,3.7
1,0,2157,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,9.00,5.00,5.75,14.57,21.99,23.30,23.70,83.6,16.0,4.9
2,0,858,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,1.00,0.75,4.75,13.69,21.59,23.90,24.22,83.4,3.5,1.5
3,0,1853,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,5.00,3.50,6.25,14.09,21.83,23.70,24.00,83.6,39.0,11.0
4,0,2796,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,8.75,4.25,3.75,14.77,21.75,23.22,23.50,83.2,50.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79442,6348,1238,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,3.75,2.50,1.25,26.14,23.98,23.53,22.52,96.2,99.0,NaN
79443,6348,985,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,2.50,2.75,2.25,25.82,24.10,23.77,22.61,96.3,99.0,NaN
79444,6348,3147,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,7.00,4.75,3.00,26.58,24.06,23.37,22.43,96.4,99.0,NaN
79445,6348,1982,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,6.75,5.00,2.50,26.58,24.02,23.45,22.29,96.3,4.6,NaN
79446,6348,3491,0,1600,2,25.46,24.06,23.73,22.71,25.46,...,1.50,1.75,4.25,25.70,24.06,23.77,23.10,96.6,99.0,NaN

In [6]:
data_df = data_df.dropna()

In [7]:
data_df

,race_id,horse_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,finish_time,win_odds,place_odds
0,0,3917,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,2.00,1.50,8.00,13.85,21.59,23.86,24.62,83.9,9.7,3.7
1,0,2157,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,9.00,5.00,5.75,14.57,21.99,23.30,23.70,83.6,16.0,4.9
2,0,858,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,1.00,0.75,4.75,13.69,21.59,23.90,24.22,83.4,3.5,1.5
3,0,1853,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,5.00,3.50,6.25,14.09,21.83,23.70,24.00,83.6,39.0,11.0
4,0,2796,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,8.75,4.25,3.75,14.77,21.75,23.22,23.50,83.2,50.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76706,6128,1153,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.25,1.50,8.25,13.46,22.03,23.97,23.41,82.9,33.0,5.7
76707,6128,1925,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,4.00,2.50,5.50,13.70,22.07,23.85,22.80,82.4,99.0,14.0
76708,6128,2531,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,0.75,0.50,4.50,13.34,21.91,24.05,22.95,82.3,8.2,2.0
76709,6128,212,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.25,1.00,7.00,13.50,21.99,23.89,23.28,82.7,59.0,9.9
76710,6128,1229,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.75,3.50,7.50,13.50,22.07,24.21,22.96,82.7,99.0,26.0

In [10]:
from sklearn.model_selection import train_test_split

X_smote = data_df.drop(columns=["won","finish_time"])

y_smote = data_df["finish_time"]


X_train_smote, X_test_smote, y_train_smote, y_test_smote = train_test_split(X_smote, y_smote, random_state=11)

In [9]:
y_smote

0        83.9
1        83.6
2        83.4
3        83.6
4        83.2
         ...
76706    82.9
76707    82.4
76708    82.3
76709    82.7
76710    82.7
Name: finish_time, Length: 44127, dtype: float64

In [11]:

X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(X_train_smote, y_train_smote)


model = LogisticRegression(solver='liblinear', random_state=1)
model.fit(X_resampled, y_resampled)
y_pred = model.predict(X_test_smote)
balanced_accuracy_score(y_test_smote, y_pred)
confusion_matrix(y_test_smote, y_pred)
print(classification_report_imbalanced(y_test_smote, y_pred))

ValueError: Unknown label type: 'continuous'

In [ ]:
# X_train_best.head(50)

X_train_smote.to_csv("X_train_smote.csv")
y_train_smote.to_csv("y_train_smote.csv")

X_test_smote.to_csv("X_test_smote.csv")
y_test_smote.to_csv("y_test_smote.csv")

In [ ]:
# print(f"Training Data Score: {model.score(X_train_scaled_best, y_train_best)}")
# print(f"Testing Data Score: {model.score(X_test_scaled_best, y_test_best)}")
# print(f"for one single line:{model.predict(X_train_scaled_best[12].reshape(1,-1))}")

In [ ]:
model.coef_

In [ ]:
sorted(zip(model.coef_[0], np.asarray(X_smote.columns)), reverse=True)

In [ ]:
# i = 0
# while i < 5000:
#     print(f"{i}for one single line:{horse_model_best.predict(X_train_scaled_best[i].reshape(1,-1))}")
#     i+=1

In [ ]:

# X_train_smote
# X_train_best.columns

In [ ]:
filename = 'horse_model_smote.sav'
joblib.dump(model, filename)

In [ ]:
model = joblib.load('horse_model_smote.sav')

In [ ]:
Xtest = pd.DataFrame([[4871,1619,1800,3,14.05,21.86,24.17,24.31,14.05,35.91,60.08,84.39,0,1.75,4.25,3.5,1,14.33,22.26,24.05,23.91,4.9,1.0
]])

In [ ]:
print(f"for one single line:{model.predict(Xtest)}")

In [ ]:
#CREATE DATABASE CONNECTION ONLY DO THESE ONCE EVEN IF RUNNING MODEL AGAIN...
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [ ]:
#Need to push data being used for tableau
#PUSH DATAFRAME TO POSTGRESQL ONLY PUSH ONCE
data_df.to_sql(name='best_data_set', con=connection, if_exists='append', index=False)

In [ ]:
connection.close()