In [25]:
import random
import sqlalchemy
import pandas as pd
import joblib
import numpy as np
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
from keys import sqlkey
from sqlalchemy import and_
from flask_cors import cross_origin
from sklearn.linear_model import LogisticRegression 
from flask_wtf import FlaskForm
from wtforms import StringField, TextField, SubmitField, FloatField, SelectField
from wtforms.validators import DataRequired, Length
from pprint import pprint

In [2]:
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [3]:
filtered_sql = "select * from best_data_set where 1=1"
uniqueid_sql = "select * from uniqueids"

In [4]:
horse_df = pd.read_sql(uniqueid_sql, connection)

In [5]:
winodds = 1.0   
placeodds = 3.5    
raceclass = 11.0
distance = 1400    
lengths = 15

In [6]:
    race_df = pd.DataFrame ({
            "race_id": [320],
            "horse_id": [3992],
            "distance": [distance],
            "race_class": [raceclass],
            "sec_time1": [26.34],
            "sec_time2": [24.67],
            "sec_time3": [25.50],
            "sec_time4": [24.86],
            "ldr_time1": [26.34],
            "ldr_time2": [51.01],
            "ldr_time3": [76.51],
            "ldr_time4": [101.37],
            "lengths_behind": [lengths],
            "behind_sec1": [9.00],
            "behind_sec2": [8.75],
            "behind_sec3": [8.75],
            "behind_sec4": [8.50],
            "time1": [27.78],
            "time2": [24.63],
            "time3": [25.50],
            "time4": [24.82],
            "win_odds": [winodds],
            "place_odds": [placeodds]
        })

In [7]:
race_df

,race_id,horse_id,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,ldr_time2,...,behind_sec1,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,win_odds,place_odds
0,320,3992,1400,11.0,26.34,24.67,25.5,24.86,26.34,51.01,...,9.0,8.75,8.75,8.5,27.78,24.63,25.5,24.82,1.0,3.5

In [8]:
horseNums = random.sample(range(4404), 13)
print(f"horsenumbers {horseNums}")

horsenumbers [2322, 264, 2378, 1215, 780, 746, 2714, 1457, 3938, 3616, 1205, 3721, 1957]

In [9]:
df = pd.DataFrame({})

In [10]:
for num in horseNums:
    row = (horse_df.loc[horse_df['horse_id'] == num],)
    df = df.append(row)

In [11]:
df = df.append(race_df)
df

,race_id,horse_id,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,ldr_time2,...,behind_sec1,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,win_odds,place_odds
978,2659,1215,1650.0,4.0,28.19,23.23,24.16,24.82,28.19,51.42,...,8.00,7.25,7.75,5.25,29.47,23.11,24.24,24.43,30.0,8.1
624,5556,780,1800.0,2.0,13.42,22.59,24.88,25.30,13.42,36.01,...,0.25,0.75,1.50,1.00,13.42,22.59,24.88,25.30,37.0,9.4
596,4033,746,1400.0,4.0,14.03,21.88,23.64,23.65,14.03,35.91,...,3.00,6.50,6.25,6.75,14.51,22.44,23.60,23.73,25.0,5.5
2207,3762,2714,1400.0,3.0,13.78,23.52,24.33,22.51,13.78,37.30,...,1.25,0.50,1.25,7.75,13.78,23.52,24.53,23.55,99.0,46.0
3186,5248,3938,2200.0,3.0,14.42,24.09,25.45,24.88,14.42,38.51,...,3.75,3.25,3.75,3.25,15.02,24.01,25.53,24.80,21.0,4.1
2934,1899,3616,2000.0,11.0,26.06,23.45,25.61,24.12,26.06,49.51,...,0.75,1.50,1.00,0.75,26.06,23.69,25.53,24.08,33.0,5.5
971,1447,1205,1650.0,4.0,27.47,23.94,24.62,23.34,27.47,51.41,...,7.00,6.00,5.25,7.25,28.59,23.78,24.50,23.66,22.0,6.0
3024,5399,3721,1800.0,5.0,13.50,22.78,25.05,25.50,13.50,36.28,...,5.25,12.50,9.00,5.75,14.34,23.94,24.49,24.98,44.0,9.7
0,320,3992,1400.0,11.0,26.34,24.67,25.50,24.86,26.34,51.01,...,9.00,8.75,8.75,8.50,27.78,24.63,25.50,24.82,1.0,3.5

In [12]:
horse_df.loc[horse_df['horse_id'] == 3992, ['lengths_behind']]
#This is the data I used for the form horse. It has to be at least close to a real record for a good predictor

      lengths_behind
3237           14.75

In [13]:
data_df = pd.read_sql(sql='select * from best_ranked_data',con=connection)

In [14]:
connection.close()

In [15]:
data_df = data_df.dropna()
data_df

,race_id,horse_id,won,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,finish_time,win_odds,place_odds
0,0,3917,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,2.00,1.50,8.00,13.85,21.59,23.86,24.62,84.0,9.7,3.7
1,0,2157,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,9.00,5.00,5.75,14.57,21.99,23.30,23.70,84.0,16.0,4.9
2,0,858,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,1.00,0.75,4.75,13.69,21.59,23.90,24.22,83.0,3.5,1.5
3,0,1853,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,5.00,3.50,6.25,14.09,21.83,23.70,24.00,84.0,39.0,11.0
4,0,2796,0,1400,5,13.53,21.59,23.94,23.58,13.53,...,8.75,4.25,3.75,14.77,21.75,23.22,23.50,83.0,50.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76706,6128,1153,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.25,1.50,8.25,13.46,22.03,23.97,23.41,83.0,33.0,5.7
76707,6128,1925,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,4.00,2.50,5.50,13.70,22.07,23.85,22.80,82.0,99.0,14.0
76708,6128,2531,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,0.75,0.50,4.50,13.34,21.91,24.05,22.95,82.0,8.2,2.0
76709,6128,212,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.25,1.00,7.00,13.50,21.99,23.89,23.28,83.0,59.0,9.9
76710,6128,1229,0,1400,3,13.34,21.79,24.09,22.32,13.34,...,2.75,3.50,7.50,13.50,22.07,24.21,22.96,83.0,99.0,26.0

In [16]:
#Create Train Test Split
from sklearn.model_selection import train_test_split

#Remove finish_time and won columns for X dataset
X_best = data_df.drop(columns=["won","finish_time"])

#Set Y to finish_time
y_best = data_df["finish_time"]


X_train_best, X_test_best, y_train_best, y_test_best = train_test_split(X_best, y_best, random_state=1)

In [17]:
#Fit and transform Dataset
from sklearn import preprocessing 
scaler = preprocessing.MinMaxScaler()
minmax_df = scaler.fit(X_train_best) 
X_train_scaled_best = scaler.transform(X_train_best)
X_test_scaled_best = scaler.transform(X_test_best)
random_race_scaled = scaler.transform(df)

In [18]:
from sklearn.linear_model import LinearRegression
horse_model_best = LinearRegression()
horse_model_best

LinearRegression()

In [19]:
horse_model_best.fit(X_train_scaled_best, y_train_best)

LinearRegression()

In [20]:
print(f"Training Data Score: {horse_model_best.score(X_train_scaled_best, y_train_best)}")
print(f"Testing Data Score: {horse_model_best.score(X_test_scaled_best, y_test_best)}")
print(f"for one single line:{horse_model_best.predict(X_train_scaled_best[0].reshape(1,-1))}")

Training Data Score: 0.9970290581005792
Testing Data Score: -0.22375587723586654
for one single line:[101.84680176]

In [23]:
print(f"Random Horse Predictions: {horse_model_best.predict(random_race_scaled)}")

Random Horse Predictions: [100.82495117 110.99938965  83.66345215  85.24328613 137.54602051
 122.57666016 100.89111328 112.08874512  88.67285156]

In [36]:
race_rank = (sorted(zip(horse_model_best.predict(random_race_scaled),(df['horse_id'])), reverse=False))
pprint(race_rank)
print('-------------------------')
print(f"The WINNER is Horse Number {race_rank[0][1]}")
#WINNER IS HORSE NUMBER 746
#our form horse placed 3rd

[(83.6634521484375, 746),
 (85.2432861328125, 2714),
 (88.6728515625, 3992),
 (100.824951171875, 1215),
 (100.89111328125, 1205),
 (110.9993896484375, 780),
 (112.0887451171875, 3721),
 (122.57666015625, 3616),
 (137.5460205078125, 3938)]
-------------------------
The WINNER is Horse Number 746