In [1]:
import random
import sqlalchemy
import pandas as pd
import joblib
import numpy as np
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
from keys import sqlkey
from sqlalchemy import and_
from flask_cors import cross_origin
from sklearn.linear_model import LogisticRegression 
from flask_wtf import FlaskForm
from wtforms import StringField, TextField, SubmitField, FloatField, SelectField
from wtforms.validators import DataRequired, Length
from pprint import pprint

In [2]:
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [3]:
filtered_sql = "select * from best_ranked_data where 1=1"
uniqueid_sql = "select * from uniqueids"

In [4]:
horse_df = pd.read_sql(filtered_sql, connection)
horse_df = horse_df.drop(columns=["won","finish_time"])
horse_df

,race_id,horse_id,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,ldr_time2,...,behind_sec1,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,win_odds,place_odds
0,0,3917,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,2.00,2.00,1.50,8.00,13.85,21.59,23.86,24.62,9.7,3.7
1,0,2157,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,6.50,9.00,5.00,5.75,14.57,21.99,23.30,23.70,16.0,4.9
2,0,858,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,1.00,1.00,0.75,4.75,13.69,21.59,23.90,24.22,3.5,1.5
3,0,1853,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,3.50,5.00,3.50,6.25,14.09,21.83,23.70,24.00,39.0,11.0
4,0,2796,1400,5,13.53,21.59,23.94,23.58,13.53,35.12,...,7.75,8.75,4.25,3.75,14.77,21.75,23.22,23.50,50.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79442,6348,1238,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,4.25,3.75,2.50,1.25,26.14,23.98,23.53,22.52,99.0,NaN
79443,6348,985,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,2.25,2.50,2.75,2.25,25.82,24.10,23.77,22.61,99.0,NaN
79444,6348,3147,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,7.00,7.00,4.75,3.00,26.58,24.06,23.37,22.43,99.0,NaN
79445,6348,1982,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,7.00,6.75,5.00,2.50,26.58,24.02,23.45,22.29,4.6,NaN
79446,6348,3491,1600,2,25.46,24.06,23.73,22.71,25.46,49.52,...,1.50,1.50,1.75,4.25,25.70,24.06,23.77,23.10,99.0,NaN

In [5]:
winodds = 1.0   
placeodds = 3.5    
raceclass = 11.0
distance = 1400    
lengths = 15

In [6]:
    race_df = pd.DataFrame ({
            "race_id": [320],
            "horse_id": [3992],
            "distance": [distance],
            "race_class": [raceclass],
            "sec_time1": [26.34],
            "sec_time2": [24.67],
            "sec_time3": [25.50],
            "sec_time4": [24.86],
            "ldr_time1": [26.34],
            "ldr_time2": [51.01],
            "ldr_time3": [76.51],
            "ldr_time4": [101.37],
            "lengths_behind": [lengths],
            "behind_sec1": [9.00],
            "behind_sec2": [8.75],
            "behind_sec3": [8.75],
            "behind_sec4": [8.50],
            "time1": [27.78],
            "time2": [24.63],
            "time3": [25.50],
            "time4": [24.82],
            "win_odds": [winodds],
            "place_odds": [placeodds]
        })

In [7]:
race_df

,race_id,horse_id,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,ldr_time2,...,behind_sec1,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,win_odds,place_odds
0,320,3992,1400,11.0,26.34,24.67,25.5,24.86,26.34,51.01,...,9.0,8.75,8.75,8.5,27.78,24.63,25.5,24.82,1.0,3.5

In [8]:
horseNums = random.sample(range(4404), 13)
print(f"horsenumbers {horseNums}")

horsenumbers [2328, 101, 608, 1624, 2772, 1638, 2425, 1863, 174, 2393, 1054, 901, 2650]

In [9]:
df = pd.DataFrame({})

In [10]:
for num in horseNums:
    row = (horse_df.loc[horse_df['horse_id'] == num].iloc[0],)
    df = df.append(row)

In [11]:
df = df.append(race_df)
df

,0,race_id,horse_id,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,ldr_time1,...,behind_sec1,behind_sec2,behind_sec3,behind_sec4,time1,time2,time3,time4,win_odds,place_odds
race_id,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
horse_id,2328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
distance,1400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
race_class,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sec_time1,13.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
time3,24.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time4,22.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
win_odds,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
place_odds,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,320.0,3992.0,1400.0,11.0,26.34,24.67,25.5,24.86,26.34,...,9.0,8.75,8.75,8.5,27.78,24.63,25.5,24.82,1.0,3.5

In [12]:
horse_df.loc[horse_df['horse_id'] == 3992, ['lengths_behind']]
#This is the data I used for the form horse. It has to be at least close to a real record for a good predictor

       lengths_behind
1277             8.75
2591            10.25
3310             9.50
4027             5.75
4874            14.75
8202             7.25
8572             3.00
9417             0.75
10105            0.75
11509            1.00
11655            0.75
12716            3.25
13162            0.00
13849            4.75
18710            1.75
19065            3.00

In [ ]:
data_df = pd.read_sql(sql='select * from best_ranked_data',con=connection)

In [ ]:
connection.close()

In [ ]:
data_df = data_df.dropna()
data_df

In [ ]:
#Create Train Test Split
from sklearn.model_selection import train_test_split

#Remove finish_time and won columns for X dataset
X_best = data_df.drop(columns=["won","finish_time"])

#Set Y to finish_time
y_best = data_df["finish_time"]


X_train_best, X_test_best, y_train_best, y_test_best = train_test_split(X_best, y_best, random_state=1)

In [ ]:
#Fit and transform Dataset
from sklearn import preprocessing 
scaler = preprocessing.MinMaxScaler()
minmax_df = scaler.fit(X_train_best) 
X_train_scaled_best = scaler.transform(X_train_best)
X_test_scaled_best = scaler.transform(X_test_best)
random_race_scaled = scaler.transform(df)

In [ ]:
from sklearn.linear_model import LinearRegression
horse_model_best = LinearRegression()
horse_model_best

In [ ]:
horse_model_best.fit(X_train_scaled_best, y_train_best)

In [ ]:
print(f"Training Data Score: {horse_model_best.score(X_train_scaled_best, y_train_best)}")
print(f"Testing Data Score: {horse_model_best.score(X_test_scaled_best, y_test_best)}")
print(f"for one single line:{horse_model_best.predict(X_train_scaled_best[0].reshape(1,-1))}")

In [ ]:
print(f"Random Horse Predictions: {horse_model_best.predict(random_race_scaled)}")

In [ ]:
race_rank = (sorted(zip(horse_model_best.predict(random_race_scaled),(df['horse_id'])), reverse=False))
pprint(race_rank)
print('-------------------------')
print(f"The WINNER is Horse Number {race_rank[0][1]}")
#WINNER IS HORSE NUMBER 746
#our form horse placed 3rd